{% extends 'SLLHHybridAuthBundle::layout.html.twig' %}

{% block sllh_hybridauth_content %}
<div class="error">{{ error }}</div>
<div>{% include 'SLLHHybridAuthBundle:Connect:providers.html.twig' %}</div>
{% endblock sllh_hybridauth_content %}
