<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            {% block sllh_hybridauth_content %}
            {% endblock sllh_hybridauth_content %}
        </div>
    </body>
</html>
